<a href="https://colab.research.google.com/github/SudhaSagasranaman/Cancer_prediction_Using-Logistics-Regression-model-program/blob/main/Banking_domain_classification.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
import pandas as pd
import tensorflow as tf
from sklearn.metrics import confusion_matrix, accuracy_score
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split

In [ ]:
df = pd.read_csv('banking_dataset.csv')
df.head()

,Age,Income,Education,Marital_Status,Credit_Score,Loan_Amount,Employment_Status,Default
0,50.0,101568,PhD,Married,621,8710,Unemployed,0
1,20.0,45913,High School,Married,330,41826,Self-Employed,0
2,33.0,109204,Masters,Divorced,651,46393,Self-Employed,0
3,33.0,94202,Bachelors,Divorced,706,45402,Unemployed,1
4,41.0,91755,PhD,Married,529,22026,Employed,0

In [ ]:
df.isnull().sum()

Age                  48
Income                0
Education             0
Marital_Status        0
Credit_Score          0
Loan_Amount           0
Employment_Status     0
Default               0
dtype: int64

In [ ]:
df.shape

(1000, 8)

In [ ]:
df.dropna()

,Age,Income,Education,Marital_Status,Credit_Score,Loan_Amount,Employment_Status,Default
0,50.0,101568,PhD,Married,621,8710,Unemployed,0
1,20.0,45913,High School,Married,330,41826,Self-Employed,0
2,33.0,109204,Masters,Divorced,651,46393,Self-Employed,0
3,33.0,94202,Bachelors,Divorced,706,45402,Unemployed,1
4,41.0,91755,PhD,Married,529,22026,Employed,0
...,...,...,...,...,...,...,...,...
995,28.0,55239,Masters,Single,614,11892,Employed,0
996,55.0,33934,Masters,Divorced,707,13757,Self-Employed,0
997,18.0,52344,Bachelors,Married,564,7439,Employed,0
998,68.0,47991,High School,Married,699,32527,Self-Employed,1
999,31.0,55994,PhD,Single,760,10217,Employed,1

In [ ]:
df['Default'].value_counts()

Default
1    522
0    478
Name: count, dtype: int64

In [ ]:
df = pd.get_dummies(df,columns = ['Education','Marital_Status','Employment_Status'], drop_first = True)


#drop_first=True drops the first category for each column to avoid multicollinearity.

In [ ]:
ss = StandardScaler()
columns_to_scale = ['Age','Income','Credit_Score','Loan_Amount']
df[columns_to_scale] = ss.fit_transform(df[columns_to_scale])

In [ ]:
x = df.drop(['Default'],axis = 1)
y = df['Default']

In [ ]:

xtrain,xtest,ytrain,ytest = train_test_split(x,y,test_size = 0.2,random_state = 42)

In [ ]:
from tensorflow.keras.models import Sequential
from tensorflow.keras.layers import Dense,Dropout,LeakyReLU,ReLU,PReLU
from tensorflow.keras.callbacks import EarlyStopping
model = Sequential()
model.add(Dense(units = 7,activation = 'relu'))
model.add(Dense(units = 6,activation = 'relu'))
model.add(Dense(units = 6,activation = 'relu'))
model.add(Dense(units = 1,activation = 'sigmoid'))

opt = tf.keras.optimizers.Adam(learning_rate=0.01)
model.compile(optimizer=opt,loss='binary_crossentropy',metrics=['accuracy'])


early_stopping = tf.keras.callbacks.EarlyStopping(
    monitor="val_loss",
    min_delta=0.0001,
    patience=20,
    verbose=1,
    mode="auto",
    baseline=None,
    restore_best_weights=False,
)
model.fit(xtrain,ytrain, validation_split=0.33,batch_size = 10, epochs = 1000,callbacks=[early_stopping])

Epoch 1/1000
54/54 ━━━━━━━━━━━━━━━━━━━━ 4s 8ms/step - accuracy: 0.5088 - loss: nan - val_accuracy: 0.5152 - val_loss: nan
Epoch 2/1000
54/54 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.4589 - loss: nan - val_accuracy: 0.5152 - val_loss: nan
Epoch 3/1000
54/54 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.4619 - loss: nan - val_accuracy: 0.5152 - val_loss: nan
Epoch 4/1000
54/54 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.4627 - loss: nan - val_accuracy: 0.5152 - val_loss: nan
Epoch 5/1000
54/54 ━━━━━━━━━━━━━━━━━━━━ 0s 5ms/step - accuracy: 0.4549 - loss: nan - val_accuracy: 0.5152 - val_loss: nan
Epoch 6/1000
54/54 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.4729 - loss: nan - val_accuracy: 0.5152 - val_loss: nan
Epoch 7/1000
54/54 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.4894 - loss: nan - val_accuracy: 0.5152 - val_loss: nan
Epoch 8/1000
54/54 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.4387 - loss: nan - val_accuracy: 0.5152 - val_loss: nan
Epoch 9/1000
54/54 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.4787 - loss: nan - val_accuracy: 0.5152 - val_loss: nan
Epoch 10/1000
54/54 ━━━━━━━━━━━━━━━━━━━━ 0s 6ms/step - accuracy: 0.4763 - loss: nan - val_accuracy: 0.5152 - val_loss: nan
Epoch 11/1000
54/54 ━━━━━━━━━━━━━━━━━━━━ 1s 4ms/step - accuracy: 0.4306 - loss: nan - val_accuracy: 0.5152 - val_loss: nan
Epoch 12/1000
54/54 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.4275 - loss: nan - val_accuracy: 0.5152 - val_loss: nan
Epoch 13/1000
54/54 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.4334 - loss: nan - val_accuracy: 0.5152 - val_loss: nan
Epoch 14/1000
54/54 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.4663 - loss: nan - val_accuracy: 0.5152 - val_loss: nan
Epoch 15/1000
54/54 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.4374 - loss: nan - val_accuracy: 0.5152 - val_loss: nan
Epoch 16/1000
54/54 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.4599 - loss: nan - val_accuracy: 0.5152 - val_loss: nan
Epoch 17/1000
54/54 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.4681 - loss: nan - val_accuracy: 0.5152 - val_loss: nan
Epoch 18/1000
54/54 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.4586 - loss: nan - val_accuracy: 0.5152 - val_loss: nan
Epoch 19/1000
54/54 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.4778 - loss: nan - val_accuracy: 0.5152 - val_loss: nan
Epoch 20/1000
54/54 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.4755 - loss: nan - val_accuracy: 0.5152 - val_loss: nan
Epoch 21/1000
54/54 ━━━━━━━━━━━━━━━━━━━━ 0s 4ms/step - accuracy: 0.4261 - loss: nan - val_accuracy: 0.5152 - val_loss: nan
Epoch 21: early stopping

In [ ]:
# prompt: y_pred = Classifier.predict(X_test)
# y_pred = (y_pred > 0.5)
print(ytest)

ytest = ytest.astype(int)


y_pred = model.predict(xtest)
y_pred = (y_pred > 0.5).astype(int)

# Assuming ytest is your true labels
cm = confusion_matrix(ytest, y_pred)
print(cm)
accuracy = accuracy_score(ytest,y_pred)
print(accuracy)

521    0
737    0
740    1
660    0
411    1
      ..
408    0
332    1
208    0
613    1
78     0
Name: Default, Length: 200, dtype: int64
7/7 ━━━━━━━━━━━━━━━━━━━━ 0s 10ms/step
[[ 98   0]
 [102   0]]
0.49